In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Umm Kaddadah,13.60,26.69,303.03,41,2,4.80,SD,2020-06-23 05:15:12
1,1,Avarua,-21.21,-159.78,297.15,69,46,5.70,CK,2020-06-23 05:15:12
2,2,Saskylakh,71.92,114.08,304.16,22,13,3.99,RU,2020-06-23 05:15:13
3,3,Esperance,-33.87,121.90,292.15,48,40,10.30,AU,2020-06-23 05:15:13
4,4,Arraial Do Cabo,-22.97,-42.03,295.03,80,6,5.10,BR,2020-06-23 05:15:13

In [12]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [13]:
gmaps.configure(api_key = g_key)

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 100
What is the maximum temperature you would like for your trip? 400

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Umm Kaddadah,13.60,26.69,303.03,41,2,4.80,SD,2020-06-23 05:15:12
1,1,Avarua,-21.21,-159.78,297.15,69,46,5.70,CK,2020-06-23 05:15:12
2,2,Saskylakh,71.92,114.08,304.16,22,13,3.99,RU,2020-06-23 05:15:13
3,3,Esperance,-33.87,121.90,292.15,48,40,10.30,AU,2020-06-23 05:15:13
4,4,Arraial Do Cabo,-22.97,-42.03,295.03,80,6,5.10,BR,2020-06-23 05:15:13
5,5,Hastings,50.86,0.57,289.82,74,0,2.86,GB,2020-06-23 05:15:13
6,6,Oranjestad,12.52,-70.03,301.15,88,75,7.70,AW,2020-06-23 05:10:54
7,7,Kapaa,22.08,-159.32,299.15,74,20,5.10,US,2020-06-23 05:15:14
8,8,Cayenne,4.93,-52.33,296.15,100,75,0.59,GF,2020-06-23 05:15:14
9,9,Upernavik,72.79,-56.15,276.20,78,71,4.60,GL,2020-06-23 05:15:15

In [17]:
preferred_cities_df.count()

City_ID       562
City          562
Lat           562
Lng           562
Max Temp      562
Humidity      562
Cloudiness    562
Wind Speed    562
Country       559
Date          562
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0     Umm Kaddadah      SD    303.03  13.60   26.69
1           Avarua      CK    297.15 -21.21 -159.78
2        Saskylakh      RU    304.16  71.92  114.08
3        Esperance      AU    292.15 -33.87  121.90
4  Arraial Do Cabo      BR    295.03 -22.97  -42.03
5         Hastings      GB    289.82  50.86    0.57
6       Oranjestad      AW    301.15  12.52  -70.03
7            Kapaa      US    299.15  22.08 -159.32
8          Cayenne      GF    296.15   4.93  -52.33
9        Upernavik      GL    276.20  72.79  -56.15

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    #get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Umm Kaddadah,SD,303.03,13.60,26.69,
1,Avarua,CK,297.15,-21.21,-159.78,Paradise Inn
2,Saskylakh,RU,304.16,71.92,114.08,
3,Esperance,AU,292.15,-33.87,121.90,Hospitality Esperance
4,Arraial Do Cabo,BR,295.03,-22.97,-42.03,Pousada Porto Praia
...,...,...,...,...,...,...
557,Gbadolite,CD,294.42,4.28,21.02,Zenic
558,Sarlat-La-Caneda,FR,284.26,44.89,1.22,Hotel Plaza Madeleine À Sarlat
559,Santa Cruz De La Palma,ES,295.15,28.68,-17.76,H10 Taburiente Playa
560,Ust-Maya,RU,300.92,60.42,134.53,
561,Banjar,ID,302.15,-8.19,114.97,The Hamsa Resort

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))